/* CSS version 1.0 https: //github.com/stadium-software/holy-grail-layout */
html {
    & body {
        overflow: hidden;
    }

    & .container {
        padding: 0;
        margin-bottom: 0;
    }

    & .main-grid {
        display: grid;
        grid-template-rows: var(--top-bar-height) 1fr;
        grid-template-columns: 1fr !important;
    }

    & .topbar-flex {
        background-color: var(--top-bar-background-color);
        width: 100vw;
        height: var(--top-bar-height);
        z-index: 10;
    }

    & .content-grid {
        display: grid;
        grid-template-columns: auto 1fr !important;
        min-height: calc(100vh - var(--top-bar-height));
    }

    & .content-grid>.grid-item:nth-child(2) {
        overflow: auto;
        max-height: calc(100vh - var(--top-bar-height));
        background-color: var(--content-background-color);
    }

    & .sidebar-flex {
        background-color: var(--sidebar-background-color);
        width: auto;
        height: 100%;
        z-index: 10;
        padding: var(--sidebar-padding);
    }

    & .page-content {
        min-height: 100%;
        padding: var(--content-padding);
    }

    & #footer {
        display: var(--footer-display);
    }
}