/* CSS version 1.0 https: //github.com/stadium-software/holy-grail-layout */
:root {
    --top-bar-height: 50px;
    --top-bar-background-color: #cccccc;

    --sidebar-background-color: #ececec;
    --sidebar-padding: 10px;
    
    --content-padding: 20px;
    --content-background-color: lightblue;
    
    --footer-display: none;
}